<book-item-read-form #BrowseForm [book]="currBook" (updateBook)="onBookUpdate($event)" ></book-item-read-form>
<borrowed-form #BorrowForm [book]="currBook" [borrowedBooks]="borrowedBooks" (updateBook)="onBookUpdate($event)" ></borrowed-form>
<search-form (filterBooks)="applyFilter($event)"></search-form>
<todo-list [books]="books" (refresh)="loadBooks()" (currBookChanged)="currBookChanged($event)" (created)="onBookCreated($event)" (changed)="onTodoChanged($event)" (deleted)="onTodoDeleted($event)" (borrowedPressedEv)="onBorrowedPressed($event)"></todo-list>